h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}