:root {
  --text-color: #212121;
  --footer-background: #2f303a;
  --accient-color: #2196f3;
  --additionaltext-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* header */
.header-box{
  display: flex;    
  justify-content: space-between;
  align-items: center;
 
}
.header-list{
display: flex;
margin-top: 32px;
margin-bottom: 32px;
}

.header-page:hover {
  color: var(--accient-color);
}

.header-webstudio {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
     margin-right:93px ;
     margin-top: 24px;
margin-bottom: 25px;
}
.logo-web {
  color: var(--accient-color);
}

.header-page1{
  margin-right: 50px;
}
.header-page2{
  margin-right: 50px;
}

a {
  color: var(--text-color);
}
.header-studio {
  color: var(--accient-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-navigation {
    display: flex;
}

.header-page {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-contact:hover {
  color: var(--accient-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail{
  margin-right: 50px;
}

/* hero */
.hero {
padding-top:200px ;
padding-bottom: 200px;
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--additionaltext-color);
  margin-bottom:30px ;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

}
.hero-box{
  display: flex;
}
.hero{
background-color: var(--footer-background);
}

.hero-get-it {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--additionaltext-color);
  background: var(--accient-color);
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
    margin-left: auto;
  margin-right: auto;
  display: block;
}

/* info */
.info {
  padding-bottom: 109px;
  margin-top: 94px;
}
.info-subtitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

.info-list {
  display: flex;
  gap: 30px; 
}

.info-text {
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.info-item {

}
/* work */
.work-box{
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
}
.work-item{
      margin-right: 30px;
}

.work-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


/* team */
.team-box{
  padding-bottom: 94px;
  padding-top: 94px;
  
}
.team-img{
  margin-bottom: 30px;
}
.team-name{
  margin-bottom: 10px;
}
.team-work{
  padding-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-item{
   margin-right: 30px;
}
/* footer */

.footer {
  background-color: var(--footer-background);
  padding: 60px;
}

.footer-webstudio {
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
  font-family: "Raleway", sans-serif;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--additionaltext-color);
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title{
  margin-bottom: 20px;
}
.footer-adress{
  margin-bottom: 9px;
}
.footer-mail{
  padding-bottom: 9px;
  font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-web{
  color:white ;
}