:root {
    --text-color: #212121;
    --footer-background: #2F303A;
    --accient-color: #2196F3;
    --additionaltext-color: #FFFFFF;
}
body{
    font-family: "Roboto", sans-serif;
}

/* header */
.header-web {
color: var(--accient-color);
}
.header-webstudio:hover {
color:var(--accient-color);
}

.header-webstudio {
    font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--text-color);
      font-family: "Raleway", sans-serif;
}
.header-page:hover {
color: var(--accient-color); }

.header-page{
    font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--text-color);
}

.header-contact:hover {
color: var(--accient-color);
}
.header-contact {
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}

/* filtration */
.filtration-button:hover{
       color: var(--accient-color);
}
.filtration-button {
    font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
}

/* proect */
.proect-text {
    font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}

/* footer */
.footer-adress {
    font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: var(--additionaltext-color);
}

.footer-contact {
    font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}