:root {
  --text-color: #212121;
  --footer-background: #2f303a;
  --accient-color: #2196f3;
  --additionaltext-color: #ffffff;
  --bg-button:#f5f4fa;
  --cart-border: #eee;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}


/* header */
.header{
padding:24px 0 25px 0;
}
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box{
  display: flex;    
  justify-content: space-between;
  align-items: center;
 
}
.header-list{
display: flex;
align-items: center;
}

.header-page:hover {
  color: var(--accient-color);
}

.header-webstudio {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
     margin-right:93px ;
 
}

.header-icon-phone{
  width: 10px;
height: 16px; 
  fill:var(--desk-color);
} 


.header-icon{
  width: 16px;
  height:12px;
  fill: var(--desk-color);

}


.logo-web {
  color: var(--accient-color);
}

.header-page1{
  margin-right: 50px;
}
.header-page2{
  margin-right: 50px;
}

a {
  color: var(--text-color);
}
.header-studio {
  color: var(--accient-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-navigation {
    display: flex;
}

.header-page {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-contact:hover {
  color: var(--accient-color);
.header-icon,.header-icon-phone{
 fill: var(--accient-color);
}
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-mail{
  margin-right: 50px;
}


/* filtration */
.filtration{
  padding: 94px 0 50px 0;
}

.filtration-button:hover {
  color: var(--additionaltext-color);
  background-color: var(--accient-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
background: #2196f3;
}
.filtration-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--bg-button);
}
 .filtration-list{
    display: flex;
    justify-content: center;

 }
 .filtration-item{
    margin-right: 8px;
 }
/* proect */
.proect-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.proect-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.proect-article{

}
.proect-img{
  width: 100%;
  
}
.project-wrap{
  padding: 20px 24px;
}
.project-wrap:hover {

}

.proect-subtitle {
    margin-bottom: 4px;
}
.proect-item{
    outline: 1px solid var(--cart-border);
flex-basis: calc((100% - 60px)/ 3);

}
.proect-item:hover{
      box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.proect-box{

}
.proect{
  padding-bottom: 94px;
}

/* footer */

.footer {
  background-color: var(--footer-background);
  padding-bottom: 60px;
    padding-top: 60px;

}

.footer .container{
  display: flex;
  align-items: baseline;
}
.footer-text{
  margin-bottom:9px ;
}

.footer-webstudio {
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom:20px ;
}
.company-link{
border: 1px solid #afb1b8;
border-radius: 4px;
width: 170px;
height: 92px;
display: flex;
justify-content: center;
align-items: center;

}
.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--additionaltext-color);
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title{
  margin-bottom: 20px;
}
.footer-adress{
  margin-bottom: 9px;
}
.footer-mail{
  font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-web{
  color:white ;
}


.footer-icons{
  margin-left: 70px;
  margin-right: auto;
}
.footer-text{
  
}

.footer-icon{
  width: 20px;
  height: 20px;
  fill: #fff;
}
.company-link:hover{
  border: 1px solid  var(--accient-color);
.company-icon{ 
  fill: var(--accient-color);
}
}
.footer-sub-text{
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
margin-bottom:20px ;
}

.footer-link{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list-links{
  display: flex;
gap: 10px;
}

.footer-link:hover{
background-color:var(--accient-color);
}


.footer-form{
  display: flex;
  align-items: center;
gap: 12px;
  
}

.footer-input{
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 358px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: rgba(33, 150, 243, 0);
padding-left: 16px;
}

.form-text{
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
width: 207px;
}

.footer-button{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
font-weight: 700;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.footer-svg{
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-div{
display: flex;
flex-direction: column;
gap: 20px;
}