h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.company, .team, .info {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid red;
}

/* header */
.header {
  padding: 24px 0 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
}
.header__webstudio {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  margin-right: 93px;
  color: #000;
}
.header__web {
  color: #2196f3;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__page {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-duration: 2500ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__page:hover {
  color: #2196f3;
}
.header__page:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  color: #2196f3;
  transform: scale(0);
  animation-name: move-after;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header__page1 {
  margin-right: 50px;
  color: #2196f3;
  position: relative;
}
.header__page1 .header__page {
  color: #2196f3;
}
.header__page2 {
  margin-right: 50px;
}
.header__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header__item {
  position: relative;
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-duration: 2500ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover {
  color: #2196f3;
}
.header__contact:hover .header__icon, .header__contact:hover .header__icon-phone {
  fill: #2196f3;
}
.header__icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes move-after {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bck-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  color: transparent;
  background-image: url(https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif);
  -webkit-background-clip: text;
          background-clip: text;
  background-position: bottom;
}
.hero__get-it {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

/* info */
.info__list {
  display: flex;
  gap: 30px;
}
.info__item {
  flex-basis: calc((100% - 90px) / 4);
}
.info__item:before {
  content: "";
  display: block;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}
.info__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.info__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.info__item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
.info__subtitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}
.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  overflow: hidden;
}
.work__img {
  width: 100%;
  height: 294px;
  display: block;
}
.work__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* team */
.team {
  background-color: #F5F4FA;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.team__img {
  background: #ffffff;
  width: 100%;
  transition-duration: 2500ms;
  transition-property: background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__wrap {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.team__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-duration: 2500ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__work {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team__header {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team .team-link:hover {
  background-color: #2196f3;
}
.team .team-link:hover .team-icon {
  fill: #ffffff;
}

.company__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.company__icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.company__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 2500ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__link:hover {
  border: 1px solid #2196f3;
}
.company__link:hover .company__icon {
  fill: #2196f3;
}
.company__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__icon:hover {
  fill: #2196f3;
  font-weight: 700;
  font-size: 6px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__webstudio {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__web {
  color: #ffffff;
}
.footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__text {
  margin-bottom: 9px;
}
.footer__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__icons {
  margin-left: 70px;
  margin-right: auto;
}
.footer__subtext {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__links {
  display: flex;
  gap: 10px;
}
.footer__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 2500ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  background-color: #2196f3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__formtext {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 207px;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
}
.footer__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.footer .footer-adress {
  margin-bottom: 9px;
}

.model {
  border-radius: 4px;
  width: 528px;
  height: 581px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  position: relative;
  padding: 40px;
  transform: scale(1);
  transition-duration: 2500ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model__close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}
.model__close:hover .model-icon {
  fill: #2196f3;
}
.model__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.model__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.model__input {
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  border: none;
  transition-duration: 2500ms;
  transition-property: outline;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model__input:hover, .model__input .model__input:focus {
  outline: 1px solid #2196f3;
}
.model__input:hover + .model__pic, .model__input .model__input:focus + .model__pic {
  fill: #2196f3;
}
.model__pic {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 27px;
  left: 15px;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  display: block;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.model__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.model__check {
  width: 16px;
  height: 16px;
}
.model__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
  margin-right: 7px;
}
.model__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}
.model__icon {
  width: 20px;
  height: 20px;
  fill: #000;
  transition-duration: 2500ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.416);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 2500ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .model {
  transform: scale(0.8);
}

.filtration {
  padding: 94px 0 50px 0;
}
.filtration__list {
  display: flex;
  justify-content: center;
}
.filtration__item {
  margin-right: 8px;
}
.filtration__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition-duration: 2500ms;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filtration__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196f3;
}

.proect {
  padding-bottom: 94px;
}
.proect__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.proect__item {
  outline: 1px solid #eee;
}
.proect__item:hover .proect__text2 {
  transform: translateY(0);
}
.proect__text2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: 2500ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.proect__wrap {
  padding: 20px 24px;
}
.proect__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.proect__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.proect__img {
  width: 100%;
  display: block;
}
.proect__card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */