@use"../base/variable" as*;


.company{
  padding-top: 94px;
  padding-bottom:94px ;

&__title{
margin-bottom:50px ;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: $text-color;
}

&__icons{
  display: flex;
  align-items: center;
 gap: 30px;
}

&__link{
border: 1px solid $icon-fill;
border-radius: 4px;
width: 170px;
height: 92px;
display: flex;
justify-content: center;
align-items: center;
  transition-duration:250ms ;
transition-property: border;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}


&__icons{
  width: 106px;
  height: 60px;
fill:$icon-fill;
  transition-duration:250ms ;
transition-property: fill;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

&:hover{
  fill: $accient-color;
  font-weight: 700;
font-size: 6px;
}
}


&:hover{
  border: 1px solid  $accient-color;
.company-icon{ 
  fill: $accient-color;
}
}
}








