@use"../base/variable" as*;


.footer .container{
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: $footer-background;
  padding-bottom: 60px;
    padding-top: 60px;



&__title{
  margin-bottom: 20px;
}

&__webstudio {
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: $accient-color;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom:20px ;
}


&__web{
  color:$additionaltext-color ;
}


&__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $additionaltext-color;
}


&__text{
  margin-bottom:9px ;
}


&__mail{
  font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: $footer-contact;
}

&__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $footer-contact;
}


&__icons{
  margin-left:70px ;
  margin-right: auto;
}


&__subtext{
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $additionaltext-color;
margin-bottom:20px ;
}


&__links{
  display: flex;
gap: 10px;
}


&__link{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color:$footer-link;
  display: flex;
  justify-content: center;
  align-items: center;
    transition-duration:250ms ;
transition-property: background-color;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);



&:hover{
background-color: $accient-color;
}
}



&__icon{
  width: 20px;
  height: 20px;
  fill: $additionaltext-color;
}


&__div{
display: flex;
flex-direction: column;
gap: 20px;
}


&__formtext{
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $additionaltext-color;
width: 207px;
}



&__form{
  display: flex;
  align-items: center;
gap: 12px;
  
}



&__input{
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
color: $footer-contact;
border: 1px solid $footer-input;
border-radius: 4px;
width: 358px;
height: 50px;
box-shadow: 0 4px 4px 0 $footer-shadow;
background: $footer-input-bcg;
padding-left: 16px;
}



&__button{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 $footer-shadow;
background: $accient-color;
font-weight: 700;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
text-align: center;
color: $additionaltext-color;
display: flex;
align-items: center;
justify-content: center;
}

&__svg{
  fill: $additionaltext-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.footer-adress{
  margin-bottom: 9px;
}



}

