@use"../base/variable" as *;


/* info */
.info {
  padding: 94px 0 94px 0;

}
.info-subtitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:$text-color;
  margin-bottom: 10px;
}

.info-item::before{
  content: "";
display: block;
border-radius: 4px;
width: 270px;
height: 120px;
background-color:  $team-bg;
margin-bottom: 30px;
background-image: url(../img/antenna.png);
background-repeat: no-repeat;
background-position: center;

}

.info-item:nth-child(2)::before{
  background-image: url(../img/clock.png);
}

.info-item:nth-child(3)::before{
  background-image: url(../img/diagram.png);
}

.info-item:nth-child(4)::before{
  background-image: url(../img/astronaut.png);
}


.info-list {
  display: flex;
  gap: 30px; 

}


.info-text {
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: $desk-color;
}

.info-item {
flex-basis: calc((100% - 90px)/ 4);
}