@use"../base/variable" as *;

.filtration{
  padding: 94px 0 50px 0;
}

.filtration-button:hover {
  color:$additionaltext-color;
  background-color: $accient-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
background: $accient-color;
}
.filtration-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color;
  padding: 6px 22px;
  border-radius: 4px;
  background-color:$bg-button;
      transition-duration:250ms ;
transition-property: background-color, color, box-shadow ;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
 .filtration-list{
    display: flex;
    justify-content: center;

 }
 .filtration-item{
    margin-right: 8px;
 }

 /* proect */
.proect-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color:$desk-color;
}
.proect-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.proect-img{
  width: 100%;
  display: block;
}
.project-wrap{
  padding: 20px 24px;
}
.card{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
color: $additionaltext-color;
overflow: hidden;
}

.text-project{
  position: absolute;
  top: 0;
  left: 0;
background-color:$project-bcg;
  padding: 63px 24px;
  transform: translateY(100%);
              transition-duration:250ms ;
transition-property:transform;
transition-timing-function:linear ;
}

.proect-subtitle {
    margin-bottom: 4px;
    font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color:$text-color;
}
.proect-item{
    outline: 1px solid $project-outline;
}
.proect-item:hover{
    .text-project{
      transform: translateY(0)
    }
}

.proect{
  padding-bottom: 94px;
}
