@use "../base/variable" as *;

@use "../utils/mixin.scss" as *;


.proect {
  padding-bottom: 94px;

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item {
    outline: 1px solid $project-outline;
    &:hover {
      .proect__text2 {
        transform: translateY(0);
      }
    }
  }

  &__text2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $project-bcg;
    padding: 63px 24px;
    transform: translateY(100%);
    @include animation(transform);
  }

  &__wrap {
    padding: 20px 24px;
  }

  &__subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: $text-color;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: $desk-color;
  }

  &__img {
    width: 100%;
    display: block;
  }
  &__card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: $additionaltext-color;
    overflow: hidden;
  }
}
