@use"../base/variable" as *;

@use"../utils/mixin.scss" as*;
@use"../utils/placeholders"as*;
/* team */
.team{
@extend %section-padding;
  background-color: $team-bg;
  
&__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color:$text-color;
  margin-bottom: 50px;
}

&__list {
  display: flex;
  gap: 30px;
}

&__item {
  flex-basis: calc((100% - 90px)/ 4);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
overflow: hidden;
}
&__img{
background:$additionaltext-color;
width: 100%;
@include animation (background);

}


&__wrap {
  background-color: $additionaltext-color;
  padding-top: 30px;
  padding-bottom: 30px;
}


&__icons{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
&__link{
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
@include animation (background-color);

}

&__icon{
  width: 20px;
  height: 20px;
fill:$icon-fill;
@include animation (fill);

}



&__name {
  margin-bottom: 10px;
  font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:$text-color;
}






&__work {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $desk-color;
}


&__header {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color:$text-color;
}

.team-link:hover{
  background-color: $accient-color;
.team-icon{
  fill: $additionaltext-color;
}

}
}